body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 1;
}

.header {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.credits {
  margin-top: auto;
  color: #FFFFFF;
}

.credits a {
  color: #FFFFFF;
}

.signUpForm {
  margin: 0px;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  background-color: #000000;
  opacity: 0.65;
  margin-top: 20vh;
  justify-content: center;
  font-size: 120px;
  color: #FFFFFF;
  align-items: center;
  font-family: "norsebold";
}

.odinLined {
  height: 150px;
}

.titleText {
  margin: 32px 12px;
}

.description {
  background-color: #f9fafb;
  height: 30vh;
  font-weight: bold;
  font-size: 26px;
}

.form {
  height: 60vh;
  background-color: #f9fafb;
  flex-grow: 1;
}

.whiteArea {
  box-shadow: 0px 5px 10px lightgrey;
  padding: 32px 48px;
  background-color: #FFFFFF;
}

.formHeading, .formHeading + div {
  margin: 0px;
  color: #1f2937;
}

.formHeading + div {
  font-size: 12px;
}

.formInputs {
  display: flex;
  margin-top: 18px;
  flex-wrap: wrap;
  gap: 36px;
  max-width: 60%;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-size: 10px;
  letter-spacing: 1.5px;
}

.descText1 {
  margin-top: 120px;
  padding: 0px 48px;
  width: 80%;
}

.descText2 {
  padding: 0px 48px;
}

.typeInput {
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  width: 230px;
  height: 30px;
  font-size: 17px;
  padding: 0px 8px;
  margin-top: 2px;
}

.typeInput:hover{
  border-color: #6186ff;
  transition: 0.1s;
}

.typeInput:focus {
  background-color: #f6f8ff;
  border-color: #1443df;
  transition: 0.1s;
  outline: none;
  box-shadow: 5px 5px 10px -3px rgba(70,70,70,0.3);
}

.typeInput:valid {
  background-color: #e8ffe9;
  border-color: #6fd875;
  transition: 0.1s;
}

.typeInput:invalid {
  background-color: #ffebeb;
  border-color: #ff6e6e;
  transition: 0.1s;
}

.submit {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  padding-left: 48px;
}

.submitButton {
  background-color: #596D48;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: 0px none #596D48;
}

.submitButton:hover {
  background-color: #425531;
  transition: 0.1s;
}

.submitButton:active {
  background-color: #738564;
  transition: 0.1s;
}

.alt {
  margin-top: 36px;
  font-size: 18px;
}

.alt a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

@font-face {
  font-family: 'norsebold';
  src: url('font/norse-bold-webfont.woff2') format('woff2'),
       url('font/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}